:root {
    // fonts
    
    --font-family-primary: Arial, Helvetica, sans-serif;
    --font-family-title: 'Oswald', sans-serif;

    // sizes

    --font-xsmall: 12px;
    --font-small: 14px;
    --font-normal: 16px;
    --font-big: 18px;
    --font-xbig: 20px;

    // colors

    --color-primary: #FFFFFF;
    --color-secondary: #151515;

    // borders

    --border-primary: 1px solid #FFFFFF;
}